@model IndustryIncident.Models.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamillyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamillyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Acces.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Acces.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role.Role1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role.Role1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
